# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.cs text diff=csharp
*.xaml text
*.xml text
*.json text
*.config text
*.props text
*.targets text
*.csproj text
*.sln text
*.md text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.dll binary
*.exe binary
*.pdb binary
*.so binary
*.dylib binary
